body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #2c3e50;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#task-form {
    margin-top: 20px;
}

form input {
    padding: 10px;
    margin: 5px;
}

form button {
    padding: 10px 15px;
    cursor: pointer;
}

#task-list ul {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    background: #90e0ef; /* Updated to a lighter color for better contrast */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}